<app-header title="Cartera de clientes" return="true"></app-header>

<ion-searchbar [(ngModel)]="searchStr" (ionChange)="search()"></ion-searchbar>

<ion-content>
  <ion-list *ngIf="searchStr.length == 0">
    <ion-item *ngFor="let c of clientScroll" (click)="showClient(c)">
      <ion-icon slot="end" name="arrow-redo"></ion-icon>
      <ion-label> {{ c.name }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="cargado datos..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-list *ngIf="searchStr.length > 0">
    <ion-item *ngFor="let c of data" (click)="showClient(c)">
      <ion-icon slot="end" name="arrow-redo"></ion-icon>
      <ion-label> {{ c.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
