<app-header title="Principal"></app-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong>Prueba Plataformas Moviles</strong>
    <p>Wilson Aguilar</p>

    <ion-list>
      <ion-item detail routerLink="/clients">
        <ion-icon slot="start" name="card"></ion-icon>
        <ion-label>Cartera de clientes</ion-label>
      </ion-item>

      <ion-item detail routerLink="/seller">
        <ion-icon slot="start" name="person"></ion-icon>
        <ion-label>Vendedor</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
